<a href="https://colab.research.google.com/github/Prachi-kushwaha/deeplearning-models-from-scratch/blob/main/simpleANN_pytorch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import torch
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv("Churn_Modelling.csv")

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.drop(columns=['RowNumber', 'Surname'], inplace=True)
df.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [7]:
df['Gender'] = (
    df['Gender']
    .map({'Male': 0, 'Female': 1})
)

In [8]:
df['Gender'].dtype

dtype('int64')

In [9]:
df.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,France,1,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,1,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,1,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,1,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,1,43,2,125510.82,1,1,1,79084.10,0

In [10]:
# pd.get_dummies(df, columns=['Geography'], drop_first=True)
#

In [11]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df.iloc[:,-1:], test_size=0.3)

In [12]:
X_train.head()
X_train.shape

(7000, 11)

In [13]:
y_train.head()
y_test.shape

(3000, 1)

In [14]:
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_new_geography = ohe.fit_transform(X_train[['Geography']])
X_test_new_geography = ohe.transform(X_test[['Geography']])

In [15]:
X_train_new_geography.shape

(7000, 2)

In [16]:
X_train_droped = X_train.drop(columns=['Geography']).values
X_test_droped = X_test.drop(columns=['Geography']).values

In [17]:
X_train_transformed = np.concatenate((X_train_new_geography,X_train_droped),axis=1)
X_test_transformed = np.concatenate((X_test_new_geography,X_test_droped),axis=1)

In [18]:
from sklearn.preprocessing import StandardScaler
se = StandardScaler()
X_train_new = se.fit_transform(X_train_transformed)
X_test_new = se.transform(X_test_transformed)

In [19]:
import pandas as pd

X_test_transformed = pd.DataFrame(
    X_test_new # optional but recommended
)

X_test_transformed.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.573391,-0.577570,-0.210698,-1.104515,-0.913971,0.302071,0.681017,-1.210765,-0.918032,0.648425,0.968496,-0.767227
1,-0.573391,-0.577570,-0.751379,0.068289,1.094126,-1.040588,0.681017,-1.210765,0.811773,-1.542199,0.968496,-1.661100
2,-0.573391,1.731391,0.202745,-0.754731,-0.913971,0.397975,-0.698557,-1.210765,0.811773,0.648425,0.968496,0.593540
3,-0.573391,-0.577570,0.345227,-0.909047,-0.913971,0.302071,-1.043451,0.389045,-0.918032,-1.542199,-1.032529,-0.243697
4,-0.573391,-0.577570,-0.850124,-1.989261,-0.913971,0.110262,1.715698,0.932993,0.811773,0.648425,-1.032529,0.867026

In [20]:
features = [
    'Geography_Germany',
    'Geography_Spain',
    'CustomerId',
    'CreditScore',
    'Gender',
    'Age',
    'Tenure',
    'Balance',
    'NumOfProducts',
    'HasCrCard',
    'IsActiveMember',
    'EstimatedSalary'
]

In [43]:
X_test_transformed = pd.DataFrame(X_test_transformed)
X_test_transformed.columns = features
X_test_transformed.head()

,Geography_Germany,Geography_Spain,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-0.573391,-0.577570,-0.210698,-1.104515,-0.913971,0.302071,0.681017,-1.210765,-0.918032,0.648425,0.968496,-0.767227
1,-0.573391,-0.577570,-0.751379,0.068289,1.094126,-1.040588,0.681017,-1.210765,0.811773,-1.542199,0.968496,-1.661100
2,-0.573391,1.731391,0.202745,-0.754731,-0.913971,0.397975,-0.698557,-1.210765,0.811773,0.648425,0.968496,0.593540
3,-0.573391,-0.577570,0.345227,-0.909047,-0.913971,0.302071,-1.043451,0.389045,-0.918032,-1.542199,-1.032529,-0.243697
4,-0.573391,-0.577570,-0.850124,-1.989261,-0.913971,0.110262,1.715698,0.932993,0.811773,0.648425,-1.032529,0.867026

In [44]:
X_train_tensor = torch.from_numpy(X_train_transformed.astype(np.float32))
X_test_tensor = torch.from_numpy(X_test_transformed.to_numpy().astype(np.float32))
y_train_tensor = torch.from_numpy(y_train.to_numpy().astype(np.float32))
y_test_tensor = torch.from_numpy(y_test.to_numpy().astype(np.float32))

In [57]:
import torch.nn as nn
import torch
import torch.nn.functional as F

class MySimpleANN:
    def __init__(self, num_features):
        self.W1 = torch.randn(num_features, 8, requires_grad=True)
        self.b1 = torch.zeros(8, requires_grad=True)

        self.W2 = torch.randn(8, 5, requires_grad=True)
        self.b2 = torch.zeros(5, requires_grad=True)

        self.W3 = torch.randn(5, 3, requires_grad=True)
        self.b3 = torch.zeros(3, requires_grad=True)

        self.W4 = torch.randn(3, 1, requires_grad=True)
        self.b4 = torch.zeros(1, requires_grad=True)

    def forward(self, x):
        x = F.relu(x @ self.W1 + self.b1)
        x = F.relu(x @ self.W2 + self.b2)
        x = F.relu(x @ self.W3 + self.b3)
        return x @ self.W4 + self.b4

    def bce_with_logits_loss(self, logits, y):
        loss = torch.clamp(logits, min=0) \
               - logits * y \
               + torch.log1p(torch.exp(-torch.abs(logits)))
        return loss.mean()

    def parameters(self):
        return [
            self.W1, self.b1,
            self.W2, self.b2,
            self.W3, self.b3,
            self.W4, self.b4
        ]

In [47]:
# import torch.nn as nn
# import torch.nn.functional as F

# class MySimpleANN(nn.Module):

#     def __init__(self, num_features):
#         super().__init__()
#         self.fc1 = nn.Linear(num_features, 8)
#         self.fc2 = nn.Linear(8, 5)
#         self.fc3 = nn.Linear(5, 3)
#         self.fc4 = nn.Linear(3, 1)

#     def forward(self, x):
#         x = F.relu(self.fc1(x))
#         x = F.relu(self.fc2(x))
#         x = F.relu(self.fc3(x))
#         return self.fc4(x)   # NO sigmoid

#     def bce_with_logits_loss(logits, y):
#         loss = torch.clamp(logits, min=0) \
#            - logits * y \
#            + torch.log1p(torch.exp(-torch.abs(logits)))
#         return loss.mean()

In [55]:
learning_rate = 0.01
epochs = 30

In [51]:
# model = MySimpleANN(X_train_tensor.shape[1])
# loss_function = model.bce_with_logits_loss()

#traning pipeline

In [27]:
# y_train_tensor.view(-1,1)

In [56]:

# model = MySimpleANN(X_train_tensor.shape[1])

# optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

# for epoch in range(epochs):
#   y_pred = model(X_train_tensor)
#   loss = model.bce_with_logits_loss(y_pred, y_train_tensor.view(-1,1))
#   optimizer.zero_grad()
#   loss.backward()
#   optimizer.step()
#   print(f'Epoch: {epoch + 1}, Loss: {loss.item()}')

AttributeError: 'MySimpleANN' object has no attribute 'parameters'

In [64]:
# model evaluation
with torch.no_grad():
  y_pred = model.forward(X_test_tensor)
  y_pred = (y_pred > 0.5).float()
  accuracy = (y_pred == y_test_tensor).float().mean()
  print(f'Accuracy: {accuracy.item()}')

Accuracy: 0.8080000281333923

In [63]:
model = MySimpleANN(X_train_tensor.shape[1])

optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

for epoch in range(epochs):
    logits = model.forward(X_train_tensor)

    loss = model.bce_with_logits_loss(
        logits,
        y_train_tensor.view(-1, 1)
    )

    loss.backward()
    # optimizer.zero_grad()
    with torch.no_grad():
        for param in model.parameters():
            param -= learning_rate * param.grad

    # reset gradients
    for param in model.parameters():
        param.grad.zero_()

    # optimizer.step()

    print(f"Epoch {epoch+1}, Loss: {loss.item()}")

Epoch 1, Loss: 559059.3125
Epoch 2, Loss: 2757316313088.0
Epoch 3, Loss: 0.6914545893669128
Epoch 4, Loss: 0.6906155347824097
Epoch 5, Loss: 0.6897808909416199
Epoch 6, Loss: 0.6889500617980957
Epoch 7, Loss: 0.6881237030029297
Epoch 8, Loss: 0.6873012781143188
Epoch 9, Loss: 0.6864831447601318
Epoch 10, Loss: 0.6856688857078552
Epoch 11, Loss: 0.6848587989807129
Epoch 12, Loss: 0.6840528249740601
Epoch 13, Loss: 0.6832508444786072
Epoch 14, Loss: 0.682452917098999
Epoch 15, Loss: 0.681658923625946
Epoch 16, Loss: 0.6808688044548035
Epoch 17, Loss: 0.6800826787948608
Epoch 18, Loss: 0.6793004870414734
Epoch 19, Loss: 0.6785221695899963
Epoch 20, Loss: 0.6777478456497192
Epoch 21, Loss: 0.6769772171974182
Epoch 22, Loss: 0.6762107014656067
Epoch 23, Loss: 0.6754477620124817
Epoch 24, Loss: 0.6746887564659119
Epoch 25, Loss: 0.6739333868026733
Epoch 26, Loss: 0.6731820702552795
Epoch 27, Loss: 0.6724342107772827
Epoch 28, Loss: 0.6716901659965515
Epoch 29, Loss: 0.6709498763084412
Epoch 30, Loss: 0.6702131032943726