In [ ]:
import torch
import pandas as pd
import numpy as np

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_csv("Churn_Modelling.csv")

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.drop(columns=['RowNumber', 'Surname'], inplace=True)
df.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
df['Gender'] = (
    df['Gender']
    .map({'Male': 0, 'Female': 1})
)

In [ ]:
df['Gender'].dtype

dtype('int64')

In [ ]:
df.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,France,1,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,1,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,1,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,1,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,1,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
# pd.get_dummies(df, columns=['Geography'], drop_first=True)
#

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df.iloc[:,-1:], test_size=0.3)

In [ ]:
X_train.head()
X_train.shape

(7000, 11)

In [ ]:
y_train.head()
y_test.shape

(3000, 1)

In [ ]:
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_new_geography = ohe.fit_transform(X_train[['Geography']])
X_test_new_geography = ohe.transform(X_test[['Geography']])

In [ ]:
X_train_new_geography.shape

(7000, 2)

In [ ]:
X_train_droped = X_train.drop(columns=['Geography']).values
X_test_droped = X_test.drop(columns=['Geography']).values

In [ ]:
X_train_transformed = np.concatenate((X_train_new_geography,X_train_droped),axis=1)
X_test_transformed = np.concatenate((X_test_new_geography,X_test_droped),axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
se = StandardScaler()
X_train_new = se.fit_transform(X_train_transformed)
X_test_new = se.transform(X_test_transformed)

In [ ]:
import pandas as pd

X_test_transformed = pd.DataFrame(
    X_test_new # optional but recommended
)

X_test_transformed.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.581529,-0.575151,-0.906429,0.547415,-0.905056,1.042598,1.009257,1.330094,0.797727,0.649092,0.967942,-0.357683
1,-0.581529,-0.575151,-1.472914,-0.223299,1.104904,-0.572634,0.320277,-1.233393,0.797727,0.649092,0.967942,-0.705822
2,-0.581529,-0.575151,-1.156257,1.193148,-0.905056,-0.477620,1.353747,0.236688,-0.915183,-1.540615,-1.033120,0.659361
3,-0.581529,-0.575151,-0.389214,1.786805,-0.905056,-0.192579,-0.713193,0.456441,-0.915183,0.649092,-1.033120,1.424218
4,-0.581529,1.738674,0.262521,1.797220,1.104904,0.662544,-0.713193,0.072474,-0.915183,0.649092,0.967942,-1.236348

In [ ]:
features = [
    'Geography_Germany',
    'Geography_Spain',
    'CustomerId',
    'CreditScore',
    'Gender',
    'Age',
    'Tenure',
    'Balance',
    'NumOfProducts',
    'HasCrCard',
    'IsActiveMember',
    'EstimatedSalary'
]

In [ ]:
X_test_transformed = pd.DataFrame(X_test_transformed)
X_test_transformed.columns = features
X_test_transformed.head()

,Geography_Germany,Geography_Spain,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-0.581529,-0.575151,-0.906429,0.547415,-0.905056,1.042598,1.009257,1.330094,0.797727,0.649092,0.967942,-0.357683
1,-0.581529,-0.575151,-1.472914,-0.223299,1.104904,-0.572634,0.320277,-1.233393,0.797727,0.649092,0.967942,-0.705822
2,-0.581529,-0.575151,-1.156257,1.193148,-0.905056,-0.477620,1.353747,0.236688,-0.915183,-1.540615,-1.033120,0.659361
3,-0.581529,-0.575151,-0.389214,1.786805,-0.905056,-0.192579,-0.713193,0.456441,-0.915183,0.649092,-1.033120,1.424218
4,-0.581529,1.738674,0.262521,1.797220,1.104904,0.662544,-0.713193,0.072474,-0.915183,0.649092,0.967942,-1.236348

In [ ]:
X_train_tensor = torch.from_numpy(X_train_transformed.astype(np.float32))
X_test_tensor = torch.from_numpy(X_test_transformed.to_numpy().astype(np.float32))
y_train_tensor = torch.from_numpy(y_train.to_numpy().astype(np.float32))
y_test_tensor = torch.from_numpy(y_test.to_numpy().astype(np.float32))

In [ ]:
import torch.nn as nn
import torch.nn.functional as F

class MySimpleANN(nn.Module):

    def __init__(self, num_features):
        super().__init__()
        self.fc1 = nn.Linear(num_features, 8)
        self.fc2 = nn.Linear(8, 5)
        self.fc3 = nn.Linear(5, 3)
        self.fc4 = nn.Linear(3, 1)

    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = F.relu(self.fc3(x))
        return self.fc4(x)   # NO sigmoid

In [ ]:
learning_rate = 0.01
epochs = 30

In [ ]:
loss_function = nn.BCEWithLogitsLoss()

#traning pipeline

In [ ]:
# y_train_tensor.view(-1,1)

In [ ]:

model = MySimpleANN(X_train_tensor.shape[1])

optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

for epoch in range(epochs):
  y_pred = model(X_train_tensor)
  loss = loss_function(y_pred, y_train_tensor.view(-1,1))
  optimizer.zero_grad()
  loss.backward()
  optimizer.step()
  print(f'Epoch: {epoch + 1}, Loss: {loss.item()}')

Epoch: 1, Loss: 58198.875
Epoch: 2, Loss: 473631326208.0
Epoch: 3, Loss: 18.979076385498047
Epoch: 4, Loss: 5.211452484130859
Epoch: 5, Loss: 0.6180679202079773
Epoch: 6, Loss: 0.6176158785820007
Epoch: 7, Loss: 0.6171661615371704
Epoch: 8, Loss: 0.6167187690734863
Epoch: 9, Loss: 0.6162733435630798
Epoch: 10, Loss: 0.6158299446105957
Epoch: 11, Loss: 0.6153890490531921
Epoch: 12, Loss: 0.6149500608444214
Epoch: 13, Loss: 0.6145132780075073
Epoch: 14, Loss: 0.6140786409378052
Epoch: 15, Loss: 0.6136461496353149
Epoch: 16, Loss: 0.6132156848907471
Epoch: 17, Loss: 0.6127873659133911
Epoch: 18, Loss: 0.6123611330986023
Epoch: 19, Loss: 0.6119371056556702
Epoch: 20, Loss: 0.6115148663520813
Epoch: 21, Loss: 0.6110947728157043
Epoch: 22, Loss: 0.6106768846511841
Epoch: 23, Loss: 0.6102607250213623
Epoch: 24, Loss: 0.6098468899726868
Epoch: 25, Loss: 0.6094349026679993
Epoch: 26, Loss: 0.6090250611305237
Epoch: 27, Loss: 0.6086170077323914
Epoch: 28, Loss: 0.608211100101471
Epoch: 29, Loss: 0.6078068614006042
Epoch: 30, Loss: 0.6074048280715942

In [ ]:
# model evaluation
with torch.no_grad():
  y_pred = model.forward(X_test_tensor)
  y_pred = (y_pred > 0.5).float()
  accuracy = (y_pred == y_test_tensor).float().mean()
  print(f'Accuracy: {accuracy.item()}')

Accuracy: 0.8173333406448364